<input type="hidden" name="{NAME}" id="{JSXID}-hidden" value="{VALUE}">
<div id="{JSXID}" class="jxgbox" style="width:500px; height:400px; "></div>
<br>
<button class="btn btn-default" id="{JSXID}-run-code">{TXT_RUN_CODE}</button>
<pre id="{JSXID}-code">{VALUE}</pre>
<link rel="stylesheet" href="{BASEDIR}/templates/css/jsxgraph.css" type="text/css" >
<link rel="stylesheet" href="{BASEDIR}/templates/css/aceeditor.css" type="text/css" >
<script src="{BASEDIR}/templates/js/jsxgraphcore.js" type="text/javascript" charset="utf-8"></script>
<script src="{BASEDIR}/templates/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    (() => {
        const editor = ace.edit("{JSXID}-code");
        const hiddenInput = document.getElementById("{JSXID}-hidden");
        const runCode = document.getElementById("{JSXID}-run-code");
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode("ace/mode/javascript");
        editor.getSession().on("change", () => {
            hiddenInput.value = editor.getSession().getValue();
        });
        const delayedEval = ace.require("ace/lib/lang").delayedCall(() => {
            eval(editor.getValue());
        });
        runCode.addEventListener("click", (event) => {
            event.preventDefault();
            delayedEval.schedule(500);
        });
        delayedEval.schedule(500);
    })();
</script>
<!-- END content -->
